*{
    padding: 0;
    margin: 0;
}

.bg{
    margin-top: 70px;
    padding: 15px 15% 0 15%;
}

.card{
    width: 100%;
}

.card-img-top{
    height: 340px;
    object-fit: cover;
}

a{
    color: black;
}

a:hover{
    color: palevioletred;
    text-decoration: none;
}